:root {
/* COLORS */
    --white: #fff
    --dark-grey: #111
    /* FONTS */
    --title: 'Dancing Script', cursive;
    --text: 'Dosis', sans-serif;
}


::selection {
  color: #000000;
  background: #ecececc5;
}
::-moz-selection { /* Firefox */
  color: #000000;
  background: #ecececc5;
}

* {
  color: white ;
}

h1,h2,h3,h4,h5,h6 {
  color: orange;
  font-weight: 600;
  letter-spacing: 5px;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.highlight {
  color: orange;
  font-weight: 500;

}
.fa-solid {
  margin: 0px 7px;
}

body {
  background-image: url(images/bg-dark.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.navbar {
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(15px);
}
.navbar .navbar-brand img {
  width: 50px;
  margin: 10px 10px 10px 30px;
  transition: all 0.3s;
}
.navbar .navbar-brand img {
  max-width: 100px;
}
.navbar .navbar-nav .nav-link {
  color: #ffffff;
  margin-right: 20px;
}
.navbar-brand img:hover {
  transform: scale(1.2);
  transition: all 0.3s;
}

.navbar-toggler {
  color:transparent;
  border:none;
}

.navbar-toggler-icon {
  background-image: url(images/toggler.png);
}

.dropdown-menu {
  background-color: #111;
  animation: ease-in-out;
}
.dropdown-item {
  color: white;
  transition: 0.3s;
  text-align: center;
}
.dropdown-item:hover {
  background-color: #222222;
  color: white;
  transition: 0.3s;
}
.dropdown-divider {
  background-color: rgba(255, 255, 255, 0.15);
}

.navbar-nav .nav-link {
  font-weight: 500;
  letter-spacing: 0.8px;
}

.slide-1 {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(images/slide1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.slide-2 {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(images/slide2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#heroSlider h6::after,
#heroSlider h6::before {
  content: "";
  width: 50px;
  height: 4px;
  background-color: #ffffff;
  display: inline-block;
  margin: 10px;
  vertical-align: middle;
}

.carousel-control-prev,
.carousel-control-next {
  width: 100px;
  height: 70px;
  margin: auto;
}

.btn-primary {
  text-decoration: none;
  color: #fff;
  border-radius: 15px;
  width: 150px;
  height: 50px;
  display: inline-block;
  padding: 7px 20px;
  font-size: 20px;
  line-height: 1.5;
  vertical-align: middle;
  font-weight: 500;
  margin-top: 40px;
  background-color: #00000000;
  backdrop-filter: blur(8px);
  border: 2px solid #ffffff;
  transition: all 0.3s;
}

.btn-primary:hover {
  background-color: #ffffffda;
  color: #111;
}

#about {
  margin-top: 50px;
}

.about-img img {
  border-radius: 50%;
  width: 550px;
  max-width: 100%;
  margin-top: 85px;
  border: 2px solid rgba(255, 255, 255, 0.9);
}

.about-card {
  border: 3px solid rgba(255, 255, 255, 0.9);
  padding: 25px;
  background-color: #1a1a1a42;
  backdrop-filter: blur(10px);
  border-radius: 50px;
}

.about-card1 {
  margin: 60px 0px;
}

.about-card p {
  text-align: justify;
}

.price {
  color: white;
  float: right;
  margin-right: 10px;
  font-weight: 500;
  font-style: italic;
}

.list-group-item {
  background-color: #111;
  color: white;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}


#foods {
  background-color: #222;
  padding-top: 50px;
  margin-top: 80px;
  max-width: 100%;
  letter-spacing: 0.5px;
  padding-bottom: 80px;
}

#eloetel {
  scroll-margin-top: 120px;
}

#foetel {
  scroll-margin-top: 120px;
}

#deszzert {
  scroll-margin-top: 120px;
}

.food-title {
  margin-top: 30px;
  margin-bottom: 30px;
}

@media (max-width: 995px) {
    .navbar-nav .nav-link {
    padding-right: 0;
  }
  .navbar-nav .dropdown-menu {
    position: block;
    margin-left: auto;
    margin-right: auto;
    float: none;
    width: auto;
    margin-top: 0;
    background-color: #111;
    width: 60%;
    border: none;
  }

  .navbar-nav {
    padding-bottom: 30px;
  }

  .navbar .navbar-nav .nav-link {
    color: #ffffff;
    padding: 13px;
}

  .navbar .navbar-collapse {
    text-align: center;
  }

  .navbar-nav .dropdown-menu .nav-link {
    padding: 0.5rem 1rem;
    color: #ffffff;
  }
  .navbar-nav .dropdown-menu .nav-link:hover {
    background-color: #f8f9fa;
  }

  .about-img img {
    width: 80%;
    margin-bottom: 75px;
  }

  .about-card {
    width: 80%;
    margin: 0px auto;
    margin-bottom: 50px;
  }

}